.banner {
  background-image: url(/landing/images/background.png);
  background-size: cover;
  background-position: bottom;
  height: 500px;
  display: flex;
}

.banner-content {
  color: white;
  margin: auto;
}

.banner-content h1 {
  font-family: Poppins;
  font-size: 30px;
}

.banner-content p {
  font-size: 20px;
  font-weight: lighter;
  color: #c1c1c1;
}

.btn-banner {
  display: inline-block;
  background-color: #74f374;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 30px;
}
